body{
    font-family: sans-serif;
    background-color: tan;
}
h1{
    text-align: center;
    color: rgb(255, 0, 0);
}
h1 i{
    color: chocolate;
}
.menu ul li{
    display: inline;
    background-color: rgba(255, 217, 0, 0.89);
    font-size: 20px;
    background-size: 30px;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    transition: 1s;

}
.menu ul li:hover{
    background-color: hotpink;
    transform: translate(-500px,100px);
    box-shadow: 3px 3px 3px 3px rgba(256,256,256,0.2);
}
.menu ul a{
   text-decoration: none; 
   transition: 2s;
}
.menu ul{
    float: right;
    margin-top: 60px;
}
.creative_example h2 i,.creative_example2 h2 i{
    color: rgb(247, 0, 255);
}
.creative_example video,embed{
    border: 10px ridge red;
    border-radius: 50px;
    margin-left: 20px;

    width: 600px;
    height: 400px;
    outline: none;
    background-color: white;
} 
.creative_example span .pdf_application_1,.pdf_application_2{
    margin-left: 20px;
    width: 650px;
    height: 400px;
    margin-top: -20px;
    border: 7px ridge green;
    border-radius: 50px;
}
.creative_example span .pdf_application_3{
    float: right;
}
.creative_example .caption{
    margin-left: 800px;
    margin-top: -250px;
    font-size: 60px;
}
.creative_example .caption a,.creative_example2 .caption2 a{
    text-decoration: none;
}
.creative_example h2{
    text-align: center;
    color: crimson;
    font-weight: bold;

}
.creative_example2 h2{
    text-align: center;
    color: crimson;
    font-weight: bold;
    margin-top: 150px;
}
.creative_example2 .caption2{
    float: right;
    margin-top: 200px;
    margin-right:20px;
    font-weight: bold;
    font-size: 40px;
}
.coming_wish h3{
    text-align: center;
    color: rgb(17, 0, 255);
}

fieldset{
    margin: 20px 20px;
    margin-top: 60px;
    background-color: rgba(255, 153, 0, 0.562);
    outline: none;
    border-radius: 40px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 8px;
    border: 3px ridge blue;
}
fieldset .links a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
fieldset .links h2{
    color: rgb(255, 123, 0);
}
fieldset .links img{
    margin-left: 1090px;
    margin-top: -100px;
}
fieldset .links a span{
    color: rgb(255, 0, 255);
}
fieldset .pointing_links img{
    color: darksalmon;
    height: 100px;
    margin-left: 50px;
    animation: arrow 2s linear infinite;
    transition: 1s;
}
@keyframes arrow{
50%{
    transform: translate(0px,-90px);
}
}
fieldset .pointing_links .icons{
    float: right;
    margin-right: 30px;
}
fieldset .pointing_links .icons i{
    margin-left: 40px;
}

.creation footer{
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(255, 102, 0);
} 
.creation footer a{
    text-decoration: none;
    color: rgb(68, 0, 255);
}
.creation span{
    margin-left: 30px;
    font-weight: bold;

}